# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]

# Archive folder
archive/

# Environment variables
.env

# Allow example file
!.env.example

# Logs
*.log

# VSCode
.vscode/

# MacOS
.DS_Store